/* stylesheet for index.html */

@keyframes header {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

#page_nav {
    position:sticky;
    background-color:skyblue;
    width: 100%;
    height: auto;
    top: 0px;
    z-index: 100;
    margin: 0px 0px 0px 0px;
}

#container-journals {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;

    padding: 0 10vw 0 10vw;
}


.journal-title {
    border-style: ridge;
    border-color: #000;
    border-radius: 2pt;
    position: relative;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
    top:50%;
    left: 0%;
}

.journal-img, .journal-video {
    padding: 5px 5px 5px 5x;
    margin: auto;
    display: block;
    min-width: 20vw;
    max-width: 30vw;
}

body {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

header {
    font-size: 4em;
    margin: auto;
    text-align: center;
    opacity: 0;
    animation: header 2s;
    animation-fill-mode: forwards;
    animation-delay: 1s;

}


h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 3em;
}

h3, h4, h5 {
    font-size: 2em;
}

li, a {
    text-decoration: none;
}

a {
    transition: color .5s ease, font-size .5s ease;
    color: hsla(0, 100%, 50%, 1);
    display: inline;
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: #a9a9a9;
    font-size: 1.1rem;
}

hr {
    width: 80%;
    border-style:double;
    border-width: 2px;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

p {
    text-indent: 1pc;
}

.journal-list > li {
    margin-bottom: 2em;
}

.journal-list > li:last-of-type {
    margin-bottom: none;
}

footer {
    width: 100%;
    height: 100%;
    padding: 2cm 0em 0em 0em;
    margin: 0px;

    display:block;
    
    background-color: rgba(0, 187, 255, .5);
    -webkit-clip-path: polygon(0% 0%, 100% 30%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 30%, 100% 100%, 0% 100%);
}


