/* stylesheet for index.html */

@keyframes header {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

#page_nav {
    position:sticky;
    background-color:skyblue;
    width: 100%;
    height: auto;
    top: 0px;
    z-index: 100;
    margin: 0px 0px 0px 0px;
}

body {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

header {
    font-size: 4em;
    margin: auto;
    text-align: center;
    opacity: 0;
    animation: header 2s;
    animation-fill-mode: forwards;
    animation-delay: 1s;

}


h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 3em;
}

h3, h4, h5 {
    font-size: 2em;
}

li, a {
    text-decoration: none;
}

a {
    transition: color .5s ease, font-size .5s ease;
    color: hsla(0, 100%, 50%, 1);
    display: inline;
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: #a9a9a9;
    font-size: 1.1rem;
}


footer {
    width: 100%;
    height: 100%;
    padding: 2cm 0em 0em 0em;
    margin: 0px;

    display:block;
    
    background-color: rgba(0, 187, 255, .5);
    -webkit-clip-path: polygon(0% 0%, 100% 30%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 30%, 100% 100%, 0% 100%);
}




